body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffcc;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
    background-color: brown;
}

.form-signin button:hover{
    background-color: #c0a16b;
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    color: #c0a16b;
    text-decoration: none;
}

.has-error {
    color: red
}

.css-serial {
    counter-reset: serial-number;
}

.css-serial td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}